rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Function to verify both auth and App Check
    function isRequestValid() {
      return true; //request.auth != null
          // && request.auth.token.firebase.sign_in_provider == 'anonymous';
          // && request.app != null;
    }

    // Media collection rules
    match /media/{mediaId} {
      allow read: if isRequestValid();
      allow create: if isRequestValid();
    }

    // Users collection rules
    match /users/{userId} {
      allow read: if isRequestValid();
      allow create: if isRequestValid();
    }

    // Messages (wishes) collection rules
    match /messages/{messageId} {
      allow read: if isRequestValid();
      allow create: if isRequestValid();
    }
  }
}