.user-filter {
  height: 50px;
  width: calc(100% - 20px);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
}

.admin-body {
  height: calc(100% - 90px);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
  margin-top: 10px;
}

img,
.video-preview {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}

.preview-item {
  position: relative;
  width: calc(20% - 10px);
  height: fit-content;
}

.video-player-play-container {
  width: 100%;
  height: 100%;
}

.video-player-play-circle {
  height: 100px;
  width: 100px;
  background-color: #ccc;
  opacity: 0.9;
  border-radius: 50px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.folder-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.folder {
  width: 20%;
  height: 40px;
  margin-bottom: 10px;
  background-color: gray;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.folder-contents {
  height: calc(100% - 20px);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.folder-name {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.folder-X {
  background-color: red;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.folder-photos {
  height: calc(70% - 62px);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto;
}

.wish-container {
  height: calc(30% - 10px);
  margin-top: 10px;
}

.wish-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.wish-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.wish-button {
  background-color: #ccc;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.disabled {
  background-color: #ccc;
  cursor: default;
}

.wish-inner-container {
  height: calc(100% - 70px);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  overflow-y: scroll;
}
