.auth-page {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

.login-component {
  min-width: 25%;
  max-width: 60%;
  background-color: pink;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.login-input {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border-color: #ccc;
  border-width: 1px;
  margin-bottom: 20px;
}

.login-button {
  background-color: blue;
  padding: 10px;
  border-width: 0;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.disabled {
  background-color: #ccc;
}
