#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 85%;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efd6ad;
  opacity: 0.3;
  z-index: 2;
}

.full-image-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

img {
  cursor: unset !important;
  border-radius: unset;
}

.full-image {
  position: absolute;
  height: 100%; /* Full height */
  width: auto; /* Auto width */
  object-fit: contain; /* Maintain aspect ratio */
  opacity: 0;
  transition: opacity 1s ease-in-out;
  left: 50%; /* Start at 50% */
  transform: translateX(-50%); /* Pull back by half of image width */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* CSS rules for mobile portrait mode */
  .full-image {
    width: auto;
    height: 100%;
  }
}

.full-image.active {
  opacity: 1;
}
