#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 85%;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efd6ad;
  opacity: 0.3;
  z-index: 2;
}

.full-image-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

img {
  cursor: unset !important;
  border-radius: unset;
}

.full-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.full-image.active {
  opacity: 1;
}
