img,
.video-preview {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}

/* File selector styles */
.upload-container {
  height: calc(100% - 40px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.file-select-btn,
.confirm-btn,
.close-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.file-select-btn {
  background-color: purple;
  color: white;
  height: 100%;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 10px;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  gap: 20%;
}

.confirm-btn {
  background-color: green;
  color: white;
}

.close-btn {
  background-color: red;
  color: white;
}

.disabled {
  background-color: #ccc;
  cursor: default;
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 315px);
  gap: 10px;
  margin: 20px 0;
  overflow-y: scroll;
}

.preview-item {
  position: relative;
  width: calc(20% - 10px);
  height: fit-content;
}

.remove-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
}

.loading-container {
  width: 300px;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 15px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.loading-bar {
  height: 100%;
  width: 0%;
  border-radius: 15px;
  transition: width 0.3s ease;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 40px 40px;
  animation: progressAnimation 1s linear infinite;
}

.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-weight: bold;
}
