/* Modal styles */
.view-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
