.h-100 {
  height: 100vh;
}

.h-85 {
  height: 85vh;
}

.header {
  width: 100vw;
  background-color: #efd6ad;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-box {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 20px;
    color: white;
  }
}

.open-modal-box {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-modal-button {
  background-color: #e3aa7e;
  border: none;
  border-radius: 10px;
  color: white;
  width: 100%;
  height: calc(100% - 40px);
  cursor: pointer;
  margin: 20px;
}
