.h-100 {
  height: 100dvh;
}

.h-85 {
  height: 85dvh;
}

.header {
  width: 100vw;
  background-color: #dea193;
  height: 15dvh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-box {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 16px;
    color: white;
  }
}

.open-modal-box {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-modal-button {
  background-color: #e3aa7e;
  border: none;
  border-radius: 10px;
  color: white;
  width: 100%;
  height: calc(100% - 40px);
  cursor: pointer;
  margin: 20px;
}

textarea,
input,
button,
div,
span {
  font-family: "LXGW WenKai TC", cursive !important;
  font-style: italic;
}
