.h-100 {
  height: 100dvh;
}

.h-85 {
  height: 85dvh;
}

.main-body {
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  width: 100vw;
  background-color: #dea193;
  height: 15dvh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.transparent-header {
  width: 100vw;
  background-color: rgb(100, 100, 100, 0.5);
  height: 15dvh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  z-index: 1000;
}

.title-box {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  color: white;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 18px;
    color: white;
  }
}

.open-modal-box {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-modal-button {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  color: #dea193;
  width: 100%;
  cursor: pointer;
  margin: 20px;
  padding: 8px;
}

textarea,
input,
button,
div,
span {
  font-family: "LXGW WenKai TC", cursive !important;
}
